@model prjMaribelMejia.Models.Productos;
@{
    List<prjMaribelMejia.Models.Categorias> categorias = ViewBag.ListaCategorias;
}
@{
    List<prjMaribelMejia.Models.Marcas> lmarcas = ViewBag.ListaMarcas;
}
<h2>Edición de Producto</h2>
<form asp-action="EditarRegistroProducto">
  <div>
    <label>Producto:  </label>   
    <input type="text" class="form-control Nombrepdto" name="Producto" value="@Model.Producto"/>
    <label>Seleccione Categoria</label>
        <select class="form-control idcat" name="IdCategoria" value="@Model.IdCategoria">
            @{
                foreach(var cat in categorias)
                {
                    <option value="@cat.IdCategoria">@cat.Categoria</option>
                }
            }
        </select>
       
    <label>Precio Unitario C$:</label>
    <input type="text" class="form-control preciopdto" name="Precio" value="@Model.Precio"/>
    <label>Descripción del Producto:</label>
    <input type="text" class="form-control descripcion-pdto" name="Descripcion" value="@Model.Descripcion"/>
        <label>Seleccione Marca:</label> 
   <select class="form-control idmarca" name="IdMarca" value="@Model.IdMarca">
            @{
                foreach(var marc in lmarcas)
                {
                    <option value="@marc.IdMarca">@marc.NombreMarca</option>
                }
            }
        </select>
         
     <input type="hidden" class="form-control idpdto" name="IdProducto" value="@Model.IdProducto"/>
     <br />
   @* <input type="date" class="form-control" />*@
    <div class=form-group>
        <input type="submit" style="width: 80px;" value="Actualizar" class="btn btn-success"/>
        <a id="btnActualizar" href="javascrip:void(0);" class="btn btn-success" style="width: 80px;" title="Guardar registro" >Guardar act</a>

         <a class="btn btn-info" style="width: 80px;" asp-area="" asp-controller="Productos" asp-action="Productos">Cancelar</a>

    </div>
    </div>
</form>