@*Aquii es donde se encapsulan los datos*@
@model List<prjMaribelMejia.Models.Productos>
    @{
    List<prjMaribelMejia.Models.Categorias> categorias = ViewBag.ListaCategorias;
}
    @{
    List<prjMaribelMejia.Models.Marcas> marcas = ViewBag.ListaMarcas;
}
<div class="table-responsive">
    <div>  
    <div>
  <h2 class="text-info bg-light rounded border-bottom">Catálogo de Productos</h2>
  
    </div>
    <div class="table-responsive">
<br />

  @*  <table class="table table-dark table-striped">*@
          <table class="table tabla-productos hover display table-striped table-bordered table-light">
        <thead class="align-content-center box-shadow alert-dark" >

            <tr>
                <th>Producto</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Descripción del Producto</th>
                <th>Acciones</th>
            </tr>
    
        </thead>
        <tbody>
            @{
  
                //hace referencia a lo que viene como modelo
                foreach(var producto in Model)
                {
                    <tr>  
                    <td>@producto.Producto</td>
              
                    <td>@producto.Categorias.Categoria</td>
                     <td>@producto.Precio</td>
                     <td>
                 
              <a data-id="@producto.IdProducto"  class="btn btn-success fa fa-eye ver-descripcion" href="javascript:void(0);" title="Ver detalle del producto"> Descripción</a>
                    <td>                               
                    @*agregamos el botón editar y eliminar*@
                    <a class="btn btn-info fa fa-pencil-square-o" href ="@Url.Action("EditarProducto", new{ id=producto.IdProducto})" style="width: 90px;" title="Edita registro">Editar</a>  
                <a id="btnEliminar" style="width: 90px;" onclick="Confirmacion(@producto.IdProducto);" href="javascript:void(0);" class="btn btn-danger fa fa-trash-o" title="Elimina registro">Eliminar</a>
                <a class="btn btn-primary fa fa-shopping-cart" href ="@Url.Action("UbicacionProducto", new{ id=producto.IdProducto})" style="width: 90px; " title="Encuentrálo">Ubicar</a>

                      </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class=form-group>      
        <a class="btn btn-success" asp-action="AgregarProducto" title="Agregar un nuevo producto">Nuevo Producto</a>
   
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
     
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Descripción del producto</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <span class="valor-descripcion"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
       @* <button type="button" class="btn btn-primary">Save changes</button>*@
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="exampleModalLabel">Atención!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                @*se hubica la clase donde ingresamos el texto*@
                <span class="valor-modalConfirm"></span>
             
                <input type="hidden" id="IdProducto"  class="Producto" name="IdProducto"><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 80px;">Cerrar</button>
                <button type="button" onclick="Confirmacion2();" href="javascript:void(0);" class="btn btn-danger" style="width: 80px;">Eliminar</button>

                </div>
        </div>
    </div>
</div>


 @section Scripts{
    <script>
  $(document).ready(function() {
$('.tabla-productos').DataTable(    
    {   
language:{
            "sLengthMenu": "_MENU_ Filtrar por páginas",
            "sZeroRecords": "No se encontró registro",
            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 ta 0 de 0 entradas",
             "decimal": ".",
             "thousands": ",",
             "loadingRecords": "Cargando...",
             "search": "Buscar:",
              "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",            
            "previous": "Anterior"
        },
            "sInfoFiltered": "(filtrado de _MAX_ registros en total)"
        }
    });
    } );

        //    $(".nombre-categoria").click(function(){
    $(".ver-descripcion").click(function(){
        var id=$(this).attr("data-id");
        //hacer la peticion para rescatar la descripcion de la categoria
         var xhr = $.ajax({

            //url destino
            url: "ObtenerDescripcion",
            type: "POST",
            //agregamos los parametros de la petición
            data: {
                //parametros
                "id":id
            }
        });

   xhr.done(function (data) {

    $(".valor-descripcion").text(data.descripcion);
    $("#exampleModal").modal("show");
   
   })
   xhr.fail(function () {})

    })



    //modal 2: eliminar
     function Confirmacion(IdProducto) {
            $(".valor-modalConfirm").text("¿Está Seguro de Eliminar el Registro?");//clase donde pasamos el texto que recuperamos del post en el controlador
            $(".Producto").val(IdProducto);
            $('#ConfirmModal').modal('show');
        }

        function Confirmacion2() {

            var IdProducto = document.getElementById("IdProducto").value;
            debugger
            var xhr = $.ajax({

                url: "EliminarProducto",
                type: "POST",
                data: {
                    "IdProducto": IdProducto
                }
            });
            xhr.done(function (data) {

            $('#ConfirmModal').modal('hide');

            //mostrar mensaje de guardado satisfactorio
            if (data.success) {
                //mostrar mensaje de guardado satisfactorio
                Swal.fire(
                    'Producto Eliminado!',
                    data.message,//'¡Click en el botón!',
                    'success'
                )
            }
            else {
                Swal.fire(
                    '¡error!',
                    data.message,//'¡Click en el botón!',
                    'error'
                )
            }
                //luego de 2 segundos redireccioonar a lista de productos
                setTimeout(function () {
                    location.href = "../Productos/Productos";
                }, 3000)

                });         
           
        }
</script>
}
