@model prjMaribelMejia.Models.Propietarios;
<h2>Modificación de Propietarios</h2>

<form asp-action="EditarRegistroPropietario">
    <div>

        <label>Nombre Propietario:</label>
        <input type="text" class="form-control" name="NombrePropietario" maxlength="50" value="@Model.NombrePropietario" />
        <label>Nº Identifiación:</label>
        <input type="text" class="form-control identificacionp" name="IdentificacionPropietario" maxlength="16" placeholder="000-000000-0000A" value="@Model.IdentificacionPropietario" />
        <label>Dirección Propietario:</label>
        <input type="text" class="form-control direccionp" name="DireccionPropietario" maxlength="300" value="@Model.DireccionPropietario"/>
        <label>Nº Teléfono:</label>
       <input type="text" class="form-control telefonop" name="TelefonoPropietario" maxlength="9" placeholder='0000-0000' value="@Model.TelefonoPropietario" />

        <input type="hidden" class="form-control" name="IdPropietario" value="@Model.IdPropietario" />

        <div class="form-group">
            <input type="submit" value="Actualizar" class="btn btn-success" title="Actualiza registro" />
        </div>
    </div>
</form>

@section Scripts
{ 
   <script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
  
    <script>
        $(function () {            
      $("#CONTACT_PHONE").mask("(999) 999-9999");
      $('.date').mask('11/11/1111');
      $('.time').mask('00:00:00');
      $('.date_time').mask('99/99/9999 00:00:00');
      $('.telefonop').mask('9999-9999',{ placeholder: '0000-0000' });
      $('.identificacionp').mask("0000-000000-0000A", { placeholder: '0000-000000-0000A' }); //placeholder
      $('.phone_with_ddd').mask('(99) 99 999 99 99');
      $('.money').mask('000.000.000.000.000,00', {reverse: true});
      $("#CreditCard-2").mask({"mask": "9999 9999 9999 9999", "placeholder" : "**** **** **** ****", "clearMaskOnLostFocus": false});
      $("#Date-2").mask({"mask" : "99/99/9999", "placeholder": "mm/dd/yyyy", "clearMaskOnLostFocus": false});
      $("#Money-2").mask({ alias : "currency", prefix: 'C$', "clearMaskOnLostFocus": false});
        });
    </script>

}